<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="index">

    {% include header.html %}
    {% include docs_header.html %}
    {% if page.title %}
      {% include banner.html %}
    {% endif %}

    {{ content }}
    
    <!-- ZY 02/20/2019 start -->
    <!-- Add back to top button -->
    <div>
      <button onclick="topFunction()" id="myBtn" title="Back to top" style="display: none;">Top</button>
    </div>
      <script>
        
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("myBtn").style.display = "block";
        } else {
          document.getElementById("myBtn").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
      </script>
    <!-- ZY 02/20/2019 end -->

    <!--default search js Added by zy 22/02/2019 start-->
    <script type="text/javascript">
  $(function() {
      $.ajax({
          url: "/search.xml",
          dataType: "xml",
          success: function( xmlResponse ) {
             var data = $( "article", xmlResponse ).map(function() {
                  return {
                      value: $( "title", this ).text() + ", " +
                          ( $.trim( $( "date", this ).text() ) ),
                      desc: $("description", this).text(),
                      url: $("url", this).text()
                  };
              }).get();

              $( "#j_search" ).autocomplete({
                  source: data,
                  minLength: 0,
                  select: function( event, ui ) {
                    window.location.href = ui.item.url;
                  }
              });
          }
      });
  });
</script>
<!--default search js Added by zy 22/02/2019 end-->
    
    {% include footer.html %}

  </body>
</html>
